* {
  box-sizing: border-box;
}

.app-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  max-width: 1500px;
  margin: auto;
}

.main-container {
  display: flex;
  justify-content: center;
  /* justify-content: flex-start; */
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.header {
  padding: 10px;
  background-color: black;
  width: 50vw;
  color: white;
  font-size: 42px;
  text-align: center;
  border-radius: 12px;
  transition: all 0.5s;
}

.get-started-btn {
  padding: 10px;
  background-color: green;
  color: white;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-started-txt {
  margin-right: 5px;
}

.started {
  width: 40vw;
  padding: 5px;
  font-size: 24px;
  margin-top: 30px;
}

.text-area-container {
  margin-top: 20px;
  width: 40vw;
  height: 60vh;
  display: none;
}

.beautify-text {
  margin-top: 20px;
  width: 40vw;
  height: 60vh;
  padding: 10px 12px;
  border-radius: 10px;
}

.text-area-input {
  width: 100%;
  height: 100%;
}

.text-area-container textarea {
  font-size: 22px;
}

.text-area-container textarea::placeholder {
  font-size: 22px;
}

.text-area-submit-btn {
  display: none;
}

.left-panel,
.right-panel {
  margin-top: 75px;
  /* background-color: #f1f1f1; */
  padding-bottom: 20px;
  border-radius: 5px;
  height: 80vh;
  overflow: auto;
}

.btn-group-title {
  /* border-bottom: 1px solid black; */
  padding-bottom: 3px;
}

.beautify-text {
  -webkit-box-shadow: 3px 3px 45px -26px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 45px -26px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 45px -26px rgba(0, 0, 0, 0.75);
}

.pdf-btn {
  margin-top: 30px;
  margin-bottom: 10px;
}

.btn-group-wrapper {
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 10px;
}
